*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
  /* padding: 10px; */
  border: 1px solid black;
  margin: 5px;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}
.left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 60%;
  cursor: pointer;
  transition: opacity 0.3s;
}
.profile-pic{
  width: 50px;
  border-radius: 10px;
}
.left p{
  font-size: 1.5em;
}
.left:hover{
  opacity: 0.6;
}

.right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  width: 35%;
}
.right button{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.4em;
  border-right: 1px solid black;
  padding: 0 7px;
  cursor: pointer;
  transition: opacity 0.3s;
}
.right button:hover{
  opacity: 0.6;
}

.main-page{
  margin-top: 5em;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 8em;
}
.main-page h1{
  margin-bottom: .5em;
}
.grid-box{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-box{
  border-bottom: 1px solid black;
}
.middle-box,
.right-box{
  border-left: 1px solid black;
}
.left-box p{
  border-bottom: 1px solid black;
  padding: 10px 25px;
}
.left-box p:first-of-type{
  border-bottom: none;
  font-size: 14px;
  font-weight: 600;
}
.left-box p:last-of-type{
  border-bottom: none;
}
.top{
  border-bottom: 1px solid black;
  padding: 15px 25px;
}
.top p:first-of-type{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}
.top p{
  margin-bottom: 7px;
}
.bottom{
  padding: 15px 25px;
}
.bottom p:first-of-type{
  font-size: 13px;
  margin-bottom: 15px;
}
.bottom p:last-of-type{
  font-size: 13px;
  margin-bottom: 15px;
}
.right-box{
  padding: 15px 25px;
  padding-bottom: 35px;
}
.education p:first-of-type{
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 15px;
}
.education p:last-of-type{
  width: 70%;
  margin-bottom: 25px;
}
.courses p:first-of-type{
  margin-bottom: 15px;
  margin-top: 35px;
}
.courses li{
  list-style-position: inside;
  list-style-type: square;
}

.review{
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}
.review h2{
  text-align: center;
}
.comment{
  display: grid;
  grid-template-columns: repeat(3, 200px);
  /* gap: 4rem; */
  padding: 2rem;
  justify-content: space-evenly;
}
.comment div{
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;
}
footer{
  text-align: center;
}

@media (max-width:600px) {
  .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 35%;
  }

  .nav{
    padding: 15px 5px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .right{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-box{
    display: grid;
    grid-template-columns: 1fr;
  }

  .left-box,
  .middle-box,
  .right-box{
    border-bottom: 1px solid black;
  }
  .comment{
    grid-template-columns: 200px;
    row-gap: 15px;
  }
}