*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Montserrat;
}
main{
  width: 80%;
  max-width: 550px;
  margin: 20px auto;
  font-family: Montserrat;
}
.tab-links{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.tab-link{
  border: none;
  background-color: #fff;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.tab-link:hover{
  background: #f4f4f4;
}
.active{
  border-bottom: 2px solid #000;
  background: #f4f4f4
}
.tab-content{
  display: none;
  animation: fadeIn 0.5s ease;
}
.tab-content.active{
  display: block;
  background-color: #f4f4f4;
  text-align: center;
  padding: 15px 5px;
  border-radius: 10px;
}
.tab-content h2,
.tab-content p{
  margin-bottom: 7px;
  line-height: 20px;
}

